<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.dao.BlogMapper">
   <resultMap id="BlogResultMapper" type="com.zxq.pojo.Blog">
    <id column="id" property="id"></id>
    <result column="title" property="title"></result>
    <result column="content" property="content"></result>
    <result column="first_picture" property="firstPicture"></result>
    <result column="flag" property="flag"></result>
    <result column="views" property="views"></result>
    <result column="appreciation" property="appreciation"></result>
    <result column="copyright" property="copyright"></result>
    <result column="commentabled" property="commentabled"></result>
    <result column="published" property="published"></result>
    <result column="recommend" property="recommend"></result>
    <result column="create_time" property="createTime"></result>
    <result column="update_time" property="updateTime"></result>
    <result column="tag_id" property="tagIds"></result>
    <result column="description" property="description"></result>
    <association property="user" javaType="com.zxq.pojo.User">
           <id column="user_id" property="id"></id>
    </association>
    <association property="type" javaType="com.zxq.pojo.Type">
           <id column="type_id" property="id"></id>
    </association>
   </resultMap>

    <select id="findBlogAll" resultMap="BlogResultMapper">
        select  * from t_blog
    </select>

    <select id="findById"  parameterType="java.lang.Long" resultMap="BlogResultMapper">
        select  * from t_blog  where  id=#{id}
    </select>

    <insert id="saveBlog" parameterType="Blog">
        insert  into t_blog(id,title,content,first_picture,flag,views,description,appreciation,copyright,
                        commentabled,published,recommend,create_time,update_time,type_id,user_id,tag_id)
              values(#{id},#{title},#{content},#{firstPicture},#{flag},#{views},#{description},#{appreciation},
              #{copyright},#{commentabled},#{published},#{recommend},#{createTime},#{updateTime},
              #{type.id},#{user.id},#{tagIds})
    </insert>

    <update id="updateBlog" parameterType="Blog">
       update  t_blog set title=#{title},content=#{content},first_picture=#{firstPicture},
       flag=#{flag},description=#{description},appreciation=#{appreciation},copyright=#{copyright},
       commentabled=#{commentabled},published=#{published},recommend=#{recommend},
       update_time=#{updateTime},type_id=#{type.id},tag_id=#{tagIds} where id=#{id}
    </update>

    <delete id="deleteBlog" parameterType="java.lang.Long">
        delete  from  t_blog where  id=#{id}
    </delete>
</mapper>